.sidebar .logo {
	border-radius: 50%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.sidebar h1 {
  font-family: "Amatic SC", Helvetica, Arial, sans-serif;
	font-size: 2.6rem !important;
	text-align: center;
}

.sidebar .lead {
	font-size: 1rem  !important;
	text-align: center;
}

.sidebar .socials img {
	filter: invert(1);
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.sidebar .sidebar-nav {
	text-align: center;
}

.sidebar .copyright {
	text-align: center;
}

.pagination .pagination-item {
	padding: 0px;
}
